html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

main > div:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
}

main > div .marker {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%) rotate(-0.125turn);
  background-color: currentColor;
  border-radius: 100%;
  border: 2px solid white;
  border-top-color: currentColor;
  border-right-color: currentColor;
  z-index: 1;
}
main > div .marker:before {
  content: "⬇️";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  transform: rotate(0.125turn);
}
main > div:last-of-type .marker:before {
  content: "👋";
}

@media (min-width: 960px) {
  main > div .marker {
    top: 50%;
    left: -100px;
    width: 200px;
    height: 200px;
    transform: translateY(-50%) rotate(0.125turn);
    border: 2px solid white;
    border-top-color: currentColor;
    border-right-color: currentColor;
  }
  main > div .marker:before {
    content: "➡️";
    transform: rotate(-0.125turn);
  }
  main > div:nth-child(odd) .marker {
    display: none;
  }
  main > div:last-of-type .marker:before {
    content: "➡️";
  }
}
